## Python program to copy a subset of images to a dedicated folder

### Importing all the required libraries

In [10]:
import os
import pandas as pd
import shutil
from os import listdir

In [11]:
total_number_of_images = 20000

In [12]:
counter = 0
image_df = pd.DataFrame()
with open('parser.txt', mode='r') as f:
    while counter < total_number_of_images:
        image_df = pd.concat([image_df, pd.DataFrame(f.readline().split()).T], axis=0)
        counter+=1

In [13]:
image_df.head()

                0   1    2     3    4    5   6    7     8    9
0  a01-000u-00-00  ok  154   408  768   27  51   AT     A  NaN
0  a01-000u-00-01  ok  154   507  766  213  48   NN  MOVE  NaN
0  a01-000u-00-02  ok  154   796  764   70  50   TO    to  NaN
0  a01-000u-00-03  ok  154   919  757  166  78   VB  stop  NaN
0  a01-000u-00-04  ok  154  1185  754  126  61  NPT   Mr.  NaN

In [18]:
# Drop of unwanted columns
df = image_df.copy()
df = df[[0, 1,8]]
df.head()

                0   1     8
0  a01-000u-00-00  ok     A
0  a01-000u-00-01  ok  MOVE
0  a01-000u-00-02  ok    to
0  a01-000u-00-03  ok  stop
0  a01-000u-00-04  ok   Mr.

In [19]:
df.set_index(0, inplace=True)

In [22]:
df.rename(columns={'Word': 'Status', 8: 'Word'}, inplace=True)
df.head()

               Status  Word
0
a01-000u-00-00     ok     A
a01-000u-00-01     ok  MOVE
a01-000u-00-02     ok    to
a01-000u-00-03     ok  stop
a01-000u-00-04     ok   Mr.

In [23]:
df.to_csv('images.csv')

In [24]:
# copy the images to a particular folder if it is empty

source_path = 'words\words'
dest_path = 'dataset'

if len(listdir(dest_path)) != total_number_of_images:
    for image_id in df.index.values:
        metadata = image_id.split('-')
        folder = metadata[0]
        sub_folder = folder+'-'+metadata[1]
        file_name = image_id+'.png'
        full_path = os.path.join(source_path, folder, sub_folder, file_name)
        shutil.copyfile(full_path, os.path.join(dest_path, file_name))
else:
    print('This path already has all the files')