In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, RobustScaler, MinMaxScaler

In [2]:
array = np.arange(1,11)
array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [3]:
le = LabelEncoder()
le.fit(array)
result = le.transform(array)

In [4]:
result

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [5]:
le.fit_transform(array)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [6]:
arrary_2d = result.reshape(len(array),1)
arrary_2d

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]], dtype=int64)

In [8]:
ohe = OneHotEncoder(sparse=False)
ohe.fit_transform(arrary_2d)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [9]:
from sklearn.impute import SimpleImputer

In [11]:
items = [1, 'Test', np.nan, 2, 'What']

In [12]:
df = pd.DataFrame(items, index=[0,1,2,3,4], columns=['Name'])
df

   Name
0     1
1  Test
2   NaN
3     2
4  What

In [13]:
si = SimpleImputer(fill_value='Mean', strategy='constant')
si.fit(df)
si.transform(df.values)

array([[1],
       ['Test'],
       ['Mean'],
       [2],
       ['What']], dtype=object)

In [14]:
numbers = [1,np.nan,2,np.nan,3,np.nan,4,np.nan,100,np.nan,1000,np.nan,10000]
df = pd.DataFrame(numbers, columns=['Name'])
df

       Name
0       1.0
1       NaN
2       2.0
3       NaN
4       3.0
5       NaN
6       4.0
7       NaN
8     100.0
9       NaN
10   1000.0
11      NaN
12  10000.0

In [19]:
si = SimpleImputer(strategy='mean',)
si.fit(df)
result = si.transform(df.values)

In [20]:
result

array([[1.00000000e+00],
       [1.58714286e+03],
       [2.00000000e+00],
       [1.58714286e+03],
       [3.00000000e+00],
       [1.58714286e+03],
       [4.00000000e+00],
       [1.58714286e+03],
       [1.00000000e+02],
       [1.58714286e+03],
       [1.00000000e+03],
       [1.58714286e+03],
       [1.00000000e+04]])

In [22]:
result = result.astype(int)
result

array([[    1],
       [ 1587],
       [    2],
       [ 1587],
       [    3],
       [ 1587],
       [    4],
       [ 1587],
       [  100],
       [ 1587],
       [ 1000],
       [ 1587],
       [10000]])

In [33]:
pd.concat([df, pd.get_dummies(data=df,columns=['Name'],dummy_na=0)],axis=1)

,Name,Name_1.0,Name_2.0,Name_3.0,Name_4.0,Name_100.0,Name_1000.0,Name_10000.0
0,1.0,1,0,0,0,0,0,0
1,NaN,0,0,0,0,0,0,0
2,2.0,0,1,0,0,0,0,0
3,NaN,0,0,0,0,0,0,0
4,3.0,0,0,1,0,0,0,0
5,NaN,0,0,0,0,0,0,0
6,4.0,0,0,0,1,0,0,0
7,NaN,0,0,0,0,0,0,0
8,100.0,0,0,0,0,1,0,0
9,NaN,0,0,0,0,0,0,0
10,1000.0,0,0,0,0,0,1,0
11,NaN,0,0,0,0,0,0,0
12,10000.0,0,0,0,0,0,0,1

In [38]:
mas = MinMaxScaler()
mas.fit_transform(df)

array([[0.00000000e+00],
       [           nan],
       [1.00010001e-04],
       [           nan],
       [2.00020002e-04],
       [           nan],
       [3.00030003e-04],
       [           nan],
       [9.90099010e-03],
       [           nan],
       [9.99099910e-02],
       [           nan],
       [1.00000000e+00]])

In [39]:
rs = RobustScaler()
rs.fit_transform(df)

array([[-5.47945205e-03],
       [            nan],
       [-3.65296804e-03],
       [            nan],
       [-1.82648402e-03],
       [            nan],
       [ 0.00000000e+00],
       [            nan],
       [ 1.75342466e-01],
       [            nan],
       [ 1.81917808e+00],
       [            nan],
       [ 1.82575342e+01]])

In [42]:
help(OneHotEncoder)

Help on class OneHotEncoder in module sklearn.preprocessing._encoders:

class OneHotEncoder(_BaseEncoder)
 |  OneHotEncoder(*, categories='auto', drop=None, sparse=True, dtype=<class 'numpy.float64'>, handle_unknown='error')
 |
 |  Encode categorical features as a one-hot numeric array.
 |
 |  The input to this transformer should be an array-like of integers or
 |  strings, denoting the values taken on by categorical (discrete) features.
 |  The features are encoded using a one-hot (aka 'one-of-K' or 'dummy')
 |  encoding scheme. This creates a binary column for each category and
 |  returns a sparse matrix or dense array (depending on the ``sparse``
 |  parameter)
 |
 |  By default, the encoder derives the categories based on the unique values
 |  in each feature. Alternatively, you can also specify the `categories`
 |  manually.
 |
 |  This encoding is needed for feeding categorical data to many scikit-learn
 |  estimators, notably linear models and SVMs with the standard kernels.
 |
 |  Note: a one-hot encoding of y labels should use a LabelBinarizer
 |  instead.
 |
 |  Read more in the :ref:`User Guide <preprocessing_categorical_features>`.
 |
 |  .. versionchanged:: 0.20
 |
 |  Parameters
 |  ----------
 |  categories : 'auto' or a list of array-like, default='auto'
 |      Categories (unique values) per feature:
 |
 |      - 'auto' : Determine categories automatically from the training data.
 |      - list : ``categories[i]`` holds the categories expected in the ith
 |        column. The passed categories should not mix strings and numeric
 |        values within a single feature, and should be sorted in case of
 |        numeric values.
 |
 |      The used categories can be found in the ``categories_`` attribute.
 |
 |      .. versionadded:: 0.20
 |
 |  drop : {'first', 'if_binary'} or a array-like of shape (n_features,),             default=None
 |      Specifies a methodology to use to drop one of the categories per
 |      feature. This is useful in situations where perfectly collinear
 |      features cause problems, such as when feeding the resulting data
 |      into a neural network or an unregularized regression.
 |
 |      However, dropping one category breaks the symmetry of the original
 |      representation and can therefore induce a bias in downstream models,
 |      for instance for penalized linear classification or regression models.
 |
 |      - None : retain all features (the default).
 |      - 'first' : drop the first category in each feature. If only one
 |        category is present, the feature will be dropped entirely.
 |      - 'if_binary' : drop the first category in each feature with two
 |        categories. Features with 1 or more than 2 categories are
 |        left intact.
 |      - array : ``drop[i]`` is the category in feature ``X[:, i]`` that
 |        should be dropped.
 |
 |      .. versionchanged:: 0.23
 |         Added option 'if_binary'.
 |
 |  sparse : bool, default=True
 |      Will return sparse matrix if set True else will return an array.
 |
 |  dtype : number type, default=float
 |      Desired dtype of output.
 |
 |  handle_unknown : {'error', 'ignore'}, default='error'
 |      Whether to raise an error or ignore if an unknown categorical feature
 |      is present during transform (default is to raise). When this parameter
 |      is set to 'ignore' and an unknown category is encountered during
 |      transform, the resulting one-hot encoded columns for this feature
 |      will be all zeros. In the inverse transform, an unknown category
 |      will be denoted as None.
 |
 |  Attributes
 |  ----------
 |  categories_ : list of arrays
 |      The categories of each feature determined during fitting
 |      (in order of the features in X and corresponding with the output
 |      of ``transform``). This includes the category specified in ``drop``
 |      (if any).
 |
 |  drop_idx_ : array of shape (n_features,)
 |      - ``drop_idx_[i]`` is the index in ``categories_[i]`` of the category
 |        to be dropped for each feature.
 |      - ``drop_idx_[i] = None`` if no category is to be dropped from the
 |        feature with index ``i``, e.g. when `drop='if_binary'` and the
 |        feature isn't binary.
 |      - ``drop_idx_ = None`` if all the transformed features will be
 |        retained.
 |
 |      .. versionchanged:: 0.23
 |         Added the possibility to contain `None` values.
 |
 |  See Also
 |  --------
 |  OrdinalEncoder : Performs an ordinal (integer)
 |    encoding of the categorical features.
 |  sklearn.feature_extraction.DictVectorizer : Performs a one-hot encoding of
 |    dictionary items (also handles string-valued features).
 |  sklearn.feature_extraction.FeatureHasher : Performs an approximate one-hot
 |    encoding of dictionary items or strings.
 |  LabelBinarizer : Binarizes labels in a one-vs-all
 |    fashion.
 |  MultiLabelBinarizer : Transforms between iterable of
 |    iterables and a multilabel format, e.g. a (samples x classes) binary
 |    matrix indicating the presence of a class label.
 |
 |  Examples
 |  --------
 |  Given a dataset with two features, we let the encoder find the unique
 |  values per feature and transform the data to a binary one-hot encoding.
 |
 |  >>> from sklearn.preprocessing import OneHotEncoder
 |
 |  One can discard categories not seen during `fit`:
 |
 |  >>> enc = OneHotEncoder(handle_unknown='ignore')
 |  >>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
 |  >>> enc.fit(X)
 |  OneHotEncoder(handle_unknown='ignore')
 |  >>> enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> enc.transform([['Female', 1], ['Male', 4]]).toarray()
 |  array([[1., 0., 1., 0., 0.],
 |         [0., 1., 0., 0., 0.]])
 |  >>> enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])
 |  array([['Male', 1],
 |         [None, 2]], dtype=object)
 |  >>> enc.get_feature_names(['gender', 'group'])
 |  array(['gender_Female', 'gender_Male', 'group_1', 'group_2', 'group_3'],
 |    dtype=object)
 |
 |  One can always drop the first column for each feature:
 |
 |  >>> drop_enc = OneHotEncoder(drop='first').fit(X)
 |  >>> drop_enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> drop_enc.transform([['Female', 1], ['Male', 2]]).toarray()
 |  array([[0., 0., 0.],
 |         [1., 1., 0.]])
 |
 |  Or drop a column for feature only having 2 categories:
 |
 |  >>> drop_binary_enc = OneHotEncoder(drop='if_binary').fit(X)
 |  >>> drop_binary_enc.transform([['Female', 1], ['Male', 2]]).toarray()
 |  array([[0., 1., 0., 0.],
 |         [1., 0., 1., 0.]])
 |
 |  Method resolution order:
 |      OneHotEncoder
 |      _BaseEncoder
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, categories='auto', drop=None, sparse=True, dtype=<class 'numpy.float64'>, handle_unknown='error')
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit OneHotEncoder to X.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to determine the categories of each feature.
 |
 |      y : None
 |          Ignored. This parameter exists only for compatibility with
 |          :class:`~sklearn.pipeline.Pipeline`.
 |
 |      Returns
 |      -------
 |      self
 |
 |  fit_transform(self, X, y=None)
 |      Fit OneHotEncoder to X, then transform X.
 |
 |      Equivalent to fit(X).transform(X) but more convenient.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to encode.
 |
 |      y : None
 |          Ignored. This parameter exists only for compatibility with
 |          :class:`~sklearn.pipeline.Pipeline`.
 |
 |      Returns
 |      -------
 |      X_out : sparse matrix if sparse=True else a 2-d array
 |          Transformed input.
 |
 |  get_feature_names(self, input_features=None)
 |      Return feature names for output features.
 |
 |      Parameters
 |      ----------
 |      input_features : list of str of shape (n_features,)
 |          String names for input features if available. By default,
 |          "x0", "x1", ... "xn_features" is used.
 |
 |      Returns
 |      -------
 |      output_feature_names : ndarray of shape (n_output_features,)
 |          Array of feature names.
 |
 |  inverse_transform(self, X)
 |      Convert the data back to the original representation.
 |
 |      In case unknown categories are encountered (all zeros in the
 |      one-hot encoding), ``None`` is used to represent this category.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix, shape [n_samples, n_encoded_features]
 |          The transformed data.
 |
 |      Returns
 |      -------
 |      X_tr : array-like, shape [n_samples, n_features]
 |          Inverse transformed array.
 |
 |  transform(self, X)
 |      Transform X using one-hot encoding.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to encode.
 |
 |      Returns
 |      -------
 |      X_out : sparse matrix if sparse=True else a 2-d array
 |          Transformed input.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.

In [55]:
X=[['a'],['b'],['c'],['d']]
ohe = OneHotEncoder(sparse=False)
ohe.fit(X)

OneHotEncoder(sparse=False)

In [58]:
ohe.transform([['a','b']])

ValueError: The number of features in X is different to the number of features of the fitted data. The fitted data had 1 features and the X has 2 features.

In [47]:
ohe.transform([['Male']])

array([[0., 1.]])

In [51]:
np.char.

TypeError: descriptor 'tolist' of 'numpy.ndarray' object needs an argument