In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import norm,t
import statsmodels.api as sm
from scipy import stats

### Question 1 - Beginner
    Tasks to be performed:
    1. Find the population mean and standard deviation for peakrpm column.
    2. Draw a sample of 25 from the population of peakrpm column and calculate the sample mean and
    standard deviation using Pandas.

In [2]:
df = pd.read_csv('Cars.csv')
df.head()

,carname,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152.0,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109.0,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136.0,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [19]:
df['peakrpm'].agg(['mean', 'std'])

mean    5125.121951
std      476.985643
Name: peakrpm, dtype: float64

In [23]:
sample_peakrpm = df[['peakrpm']].sample(25)
sample_peakrpm.agg(['mean', 'std'])

          peakrpm
mean  5146.000000
std    549.037036

### Question 2 - Beginner
    Tasks to be performed:
    1. Calculate the margin of error for 95% confidence level for peakrpm column using the standard deviation
    of the population.
    2. Calculate the confidence interval for the same column.

In [28]:
from scipy.stats import norm
peakrpm_std = df['peakrpm'].std()
print(f"sd: {peakrpm_std}")
me = norm.ppf(.95) * (peakrpm_std/np.sqrt(sample_peakrpm.shape[0]))
print(f"Margin of Error: {me}")

sd: 476.98564305694646
Margin of Error: 156.91431299719974

In [29]:
mean = df['peakrpm'].mean()
print(f"mean: {mean}")

mean: 5125.121951219512

In [30]:
print(f"CI: [{mean-me},{mean+me}]")

CI: [4968.207638222312,5282.036264216712]

### Question 3 - Beginner
    Tasks to be performed:
    1. Calculate the margin of error for 95% confidence level for peakrpm column using the standard deviation
    of the sample.
    2. Calculate the confidence interval for the same column

In [49]:
sample = df.sample(25, random_state=1)
peakrpm_std = sample['peakrpm'].std()
print(f'std: {peakrpm_std}')

std: 490.6458328910308

In [54]:
me = t.ppf(q=.95,df=sample.shape[0]-1) * (peakrpm_std/np.sqrt(sample.shape[0]))
print(f'me: {me}')

me: 167.88743261510004

In [55]:
mean = sample['peakrpm'].mean()
print(f"CI: [{mean-me},{mean+me}]")

CI: [5046.1125673849,5381.8874326151]

###    Question 4 - Beginner
    Create two lists having 7 elements that are positive integer values a=[201,873,667,789,876,567,765] and b=
    [678,543,356,123,345,987,876]. Check if there exists a relationship between the means of the two lists.
    Tasks to be performed:
    1. Determine the Hypotheses
    2. Perform a Statistical Test for Population Means
    3. Find P-value and conclude the Hypotheses

In [58]:
a=np.array([201,873,667,789,876,567,765])
b=np.array([678,543,356,123,345,987,876])

In [59]:
print(f"Mean[a]: {np.mean(a)}")
print(f"Mean[b]: {np.mean(b)}")

Mean[a]: 676.8571428571429
Mean[b]: 558.2857142857143

In [61]:
zresult = sm.stats.ttest_ind(a,b,alternative='two-sided')
pval = zresult[1]
print(pval)


if pval<0.05:
    print('There exists a relationship')
else:
    print('There is no relationship(independent)')

0.43673938240432864
There is no relationship(independent)

### Question 5 - Beginner
    Dataset Description:
    blood_pressure.csv - The dataset contains 5 columns and 120 rows. Here's a brief description of the
        
    From a given dataset, find out if the overall blood pressure is affected after a certain treatment given to the
    patients

In [2]:
df = pd.read_csv('blood_pressure.csv')
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [3]:
#H(0) = There is no significant difference i.e H(0) == 156
#H(a) = There is a significant difference i.e. H(a) != 156

bp_before_mean = df['bp_before'].mean()
bp_after_mean = df['bp_after'].mean()
print(f"bp_before_mean: {bp_before_mean}, bp_after_mean: {bp_after_mean}")

bp_before_mean: 156.45, bp_after_mean: 151.35833333333332

In [5]:
n = df.shape[0]
print(f'Sample Size: {n}')

Sample Size: 120

In [24]:
def get_p_value(p_mean, s_mean, p_std, n):
    se = p_std
    z = (s_mean - p_mean)/se
    z = np.round(z,3)
    print(f"z:{z}")
    print(f"p-value left", (norm.cdf(z))*2)

In [30]:
def get_p_value(p_mean, s_mean, std, n):
    se = std/np.sqrt(n)
    z = (s_mean - p_mean)/se
    z = np.round(z,3)
    print(f"z:{z}")
    #print(f"p-value left", (norm.cdf(z))*2)

In [25]:
get_p_value(bp_before_mean, bp_after_mean, df['bp_before'].std(), n)

z:-0.447
p-value left 0.6548750598940647

In [ ]:
#Failed to reject null hypothesis

In [28]:
stats.ttest_ind(df['bp_before'], df['bp_after'])

Ttest_indResult(statistic=3.0669836819036274, pvalue=0.002412277478078891)

In [32]:
get_p_value(bp_before_mean, bp_after_mean, df['bp_after'].std(), n)

z:-4.897

In [33]:
t.cdf(-4.897, 119)

1.5477110261170384e-06

### Question 6 - Beginner
    Dataset Description:
    admission.csv - The dataset contains 4 columns and 400 rows. Here's a brief description of the columns in
    the dataset:

In [35]:
df = pd.read_csv('admission.csv')
df.head()

   admit    gre   gpa  rank
0    0.0  380.0  3.61   3.0
1    1.0  660.0  3.67   3.0
2    1.0  800.0  4.00   1.0
3    1.0  640.0  3.19   4.0
4    0.0  520.0  2.93   4.0

In [36]:
df_without_admit = df[df['admit'] == 0]
df_with_admit = df[df['admit'] == 1]

In [38]:
df_without_admit.head()

    admit    gre   gpa  rank
0     0.0  380.0  3.61   3.0
4     0.0  520.0  2.93   4.0
7     0.0  400.0  3.08   2.0
9     0.0  700.0  3.92   2.0
10    0.0  800.0  4.00   4.0

In [39]:
df_with_admit.head()

   admit    gre   gpa  rank
1    1.0  660.0  3.67   3.0
2    1.0  800.0  4.00   1.0
3    1.0  640.0  3.19   4.0
5    1.0  760.0  3.00   2.0
6    1.0  560.0  2.98   1.0

### Task 1:
    The hypothesis is stated as follows: 
    Null - The gpa doesn't affect student rank 
    Alternative - The gpa affects the student rank

In [44]:
t, p_value = stats.ttest_ind(df['gpa'], df['rank'])
print(t, np.round(p_value,3))
if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print('Failed to reject Null Hypothesis')

17.773605488192924 0.0
Reject Null Hypothesis

### Question 7 - Beginner
    A professor wants to find out if the average marks scored by a class of 120 students are 60. He picks 10
    students in the class whose marks he remembers in his head: 23, 45, 76, 42, 55, 67, 80, 38, 51, 49. How
    does he determine whether the average marks are close to 60 or not?Take a significance level of 5%.
    Tasks to be performed:
    1. Determine the Hypotheses
    2. Perform a Statistical Test for Population Means
    3. Find P-value and conclude the Hypotheses

In [3]:
# H(0) = 60
# H(a) != 60
students = np.array([23, 45, 76, 42, 55, 67, 80, 38, 51, 49])
mean = students.mean()
std = students.std()
print(f"mean: {mean}")
print(f"std: {std}")

mean: 52.6
std: 16.692513291892265

In [23]:
se = std/np.sqrt(len(students))
print(f'se: {se}')

se: 5.278636187501464

In [24]:
t = (mean - 60)/se
print(f"z: {z}")
p_value = stats.t.cdf(np.round(z,3), 9)
p_value*2

z: -1.4018772533559734

0.19444979476862795

### Question 8 - Beginner
    Dataset Description:
    survey.csv - The dataset contains 27 columns. Here's a brief description of 4 columns in the dataset:
    Age - Age of each person
    Gender - Gender of each person
    Country - Nationality of each person
    self_employed - Whether the person is self employed or not
    family_history - Whether the person has a family history of mental illness
    treatment - Whether the person has taken treatment for mental illness
    Using given a dataset, find out if there is any association between having a family history of mental illness
    and having a mental illness.
    Tasks to be performed:
    1. Load the data
    2. Replace the yes/no responses in the treatment and family_history columns with binary 1 and 0
    3. Perform an independent sample test to validate the hypothesis taking a a significance level of 5%

In [34]:
df = pd.read_csv('survey.csv')[['Age', 'Gender', 'Country', 'self_employed', 'family_history', 'treatment']]
df.head()

   Age  Gender         Country self_employed family_history treatment
0   37  female   United States           NaN             No       Yes
1   44    male   United States           NaN             No        No
2   32    male          Canada           NaN             No        No
3   31    male  United Kingdom           NaN            Yes       Yes
4   31    male   United States           NaN             No        No

In [37]:
df['family_history'] = df['family_history'].apply(lambda fh: 0 if fh == 'No' else 1)
df['treatment'] = df['treatment'].apply(lambda t: 0 if t == 'No' else 1)
df.head()

   Age  Gender         Country self_employed  family_history  treatment
0   37  female   United States           NaN               0          1
1   44    male   United States           NaN               0          0
2   32    male          Canada           NaN               0          0
3   31    male  United Kingdom           NaN               1          1
4   31    male   United States           NaN               0          0

In [42]:
h_0= "There is no association"
h_a = "There is an association"
z_value, p_value = sm.stats.ztest(df['family_history'], df['treatment'])
print(z_value, p_value)
if p_value < 0.05:
    print(f'Reject: {h_0}')
else:
    print(f'Failed to Reject: {h_a}')

-5.84731200268624 4.9957994143242654e-09
Reject: There is no association

### Question 9 - Beginner
    You have been given a dataset, automotive.csv. Find the 67% confidence interval for the prices of
    automobiles given in the price column.
    Also, calculate the z-critical value and margin of error and check if the true population mean lies within the
    confidence interval.

In [44]:
df = pd.read_csv('automotive_data.csv')
df['price'].head()

0    13495
1    16500
2    16500
3    13950
4    17450
Name: price, dtype: int64

In [45]:
df_price = df.sample(100)['price']
df_price.head()

17     36880
3      13950
32      5399
127    34028
0      13495
Name: price, dtype: int64

In [46]:
z = (df_price.mean() - df['price'].mean())/(df['price'].std()/10)
print(z)

0.29483072684227657

In [60]:
print(norm.ppf(.67))
print(df_price.mean())
print(df_price.mean() - norm.ppf(.67)* (df['price'].std()/10))
print(df_price.mean() + norm.ppf(.67)* (df['price'].std()/10))

0.4399131656732339
13395.22
13039.673078891285
13750.766921108714

### Question 10 - Beginner
    Clipcart, an online shopping portal, gets over 300 order returns in a day out of 1500. Each customer can
    reject only one order in a day. Clipcart assumes that all customers are independent of each other. Find out
    the margin of error and also determine an approximate 95% confidence interval for the proportion of orders
    cancelled in a day.
    Tasks to be performed:
    1. Calculate the Margin of Error
    2. Get the Confidence Interval

In [71]:
p = 300/1500
print(f"p: {p}")
sd = np.sqrt(p*(1-p))
print(f"sd: {sd}")
z = norm.ppf(.95)
print(f"z: {z}")
me = z * sd/np.sqrt(1500)
print(f"me: {me}")

(p - me, p + me)

p: 0.2
sd: 0.4
z: 1.6448536269514722
me: 0.01698797521101845

(0.18301202478898157, 0.21698797521101845)