In [1]:
import numpy as np
import pandas as pd

#### 11. How to bin a numeric series to 10 groups of equal size?

In [3]:
ser = pd.Series(np.random.random(20))
ser.head()

0    0.336055
1    0.523842
2    0.524772
3    0.049910
4    0.361977
dtype: float64

In [7]:
# No Idea as of now

(20,)

#### 12. How to convert a numpy array to a dataframe of given shape?

In [8]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser.head()

0    8
1    2
2    5
3    2
4    6
dtype: int32

In [11]:
pd.DataFrame(np.array(ser).reshape((7,5)))

   0  1  2  3  4
0  8  2  5  2  6
1  8  4  6  7  2
2  4  7  6  5  7
3  7  4  8  5  8
4  7  9  9  9  6
5  3  7  3  9  7
6  9  2  8  5  1

#### 13. How to find the positions of numbers that are multiples of 3 from a series?

In [12]:
ser = pd.Series(np.random.randint(1, 10, 7))

In [13]:
ser.head()

0    2
1    8
2    4
3    6
4    6
dtype: int32

In [17]:
ser[ser%3==0]

3    6
4    6
5    3
6    9
dtype: int32

In [15]:
np.argwhere(ser%3==0)

c:\python36_64\lib\site-packages\numpy\core\fromnumeric.py:58: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return bound(*args, **kwds)

array([[3],
       [4],
       [5],
       [6]], dtype=int64)

#### 14. How to extract items at given positions from a series

In [19]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [20]:
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

#### 15. How to stack two series vertically and horizontally ?

In [22]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
print(ser1)
print(ser2)

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object

In [24]:
print(pd.concat([ser1, ser2], axis=0))
print(pd.concat([ser1, ser2], axis=1))

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#### 16. How to get the positions of items of series A in another series B?

In [25]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [35]:
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

#### 17. How to compute the mean squared error on a truth and predicted series?

In [38]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [40]:
np.mean((truth-pred)**2)

0.35319168943553914

#### 18. How to convert the first character of each element in a series to uppercase?

In [43]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda a: a[0].upper()+a[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [44]:
#### 19. How to calculate the number of characters in each word in a series?

In [45]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
#len(str)
ser.map(lambda a: len(a))

0    3
1    2
2    4
3    4
dtype: int64

#### 20. How to compute difference of differences between consequtive numbers of a series?

In [2]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff()

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

In [3]:
ser.diff().diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64