In [23]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

### 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [65]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
ser

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [66]:
ser.resample('D').ffill()

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

In [59]:
dt = pd.Series(ser.index)
dt

0   2000-01-01
1   2000-01-03
2   2000-01-06
3   2000-01-08
dtype: datetime64[ns]

In [60]:
dt = dt.astype(np.datetime64)
dt = dt.append(dt.dt.date+timedelta(days=1)).reset_index(drop=True)

In [61]:
dt = dt.sort_values()

In [62]:
ser = ser.reindex(dt)
ser

2000-01-01     1.0
2000-01-02     NaN
2000-01-03    10.0
2000-01-04     NaN
2000-01-06     3.0
2000-01-07     NaN
2000-01-08     NaN
2000-01-09     NaN
dtype: float64

In [64]:
ser.ffill()

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
2000-01-09     3.0
dtype: float64

### 32. How to compute the autocorrelations of a numeric series?

In [67]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
ser

0      9.162181
1    -11.533194
2      3.616178
3     -3.147835
4     -4.873950
5      5.018274
6     18.467837
7     10.902159
8     13.173130
9     20.319151
10     4.749274
11    -3.763683
12    22.048271
13    23.771586
14    30.950764
15    23.808406
16    28.750701
17    22.742696
18    15.438100
19    25.033182
dtype: float64

In [84]:
ac = []
for i in range(1,11):
    ac.append(ser.autocorr(i).round(2))

In [85]:
array = np.array(ac)
array

array([0.58, 0.44, 0.41, 0.24, 0.06, 0.4 , 0.7 , 0.37, 0.29, 0.36])

In [86]:
array.argsort()[-1]+1

7

### 33. How to import only every nth row from a csv file to create a dataframe?

In [101]:
n=50
df = pd.read_csv('BostonHousing.csv', skiprows=lambda x: True if x%(n-1)!=0 else False)
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.25387,0,6.91,0,0.448,5.399,95.3,5.8700,3,233,17.9,396.90,30.81,14.4
1,0.12083,0,2.89,0,0.445,8.069,76.0,3.4952,2,276,18.0,396.90,4.21,38.7
2,2.15505,0,19.58,0,0.871,5.628,100.0,1.5166,5,403,14.7,169.27,16.65,15.6
3,0.01381,80,0.46,0,0.422,7.875,32.0,5.6484,4,255,14.4,394.23,2.97,50.0
4,0.20608,22,5.86,0,0.431,5.593,76.5,7.9549,7,330,19.1,372.49,12.50,17.6
5,0.08265,0,13.92,0,0.437,6.127,18.4,5.5027,4,289,16.0,396.90,8.58,23.9
6,0.02498,0,1.89,0,0.518,6.540,59.7,6.2669,1,422,15.9,389.96,8.65,16.5
7,5.29305,0,18.10,0,0.700,6.051,82.5,2.1678,24,666,20.2,378.38,18.76,23.2
8,22.05110,0,18.10,0,0.740,5.818,92.4,1.8662,24,666,20.2,391.45,22.11,10.5
9,0.18337,0,27.74,0,0.609,5.414,98.3,1.7554,4,711,20.1,344.05,23.97,7.0

In [111]:
n=50
df = pd.read_csv('BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
df2 = pd.concat([chunk.iloc[0,:] for chunk in df], axis=1)
df2.T

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
50,0.08873,21.0,5.64,0.0,0.439,5.963,45.7,6.8147,4.0,243.0,16.8,395.56,13.45,19.7
100,0.14866,0.0,8.56,0.0,0.520,6.727,79.9,2.7778,5.0,384.0,20.9,394.76,9.42,27.5
150,1.65660,0.0,19.58,0.0,0.871,6.122,97.3,1.6180,5.0,403.0,14.7,372.80,14.10,21.5
200,0.01778,95.0,1.47,0.0,0.403,7.135,13.9,7.6534,3.0,402.0,17.0,384.30,4.45,32.9
250,0.14030,22.0,5.86,0.0,0.431,6.487,13.0,7.3967,7.0,330.0,19.1,396.28,5.90,24.4
300,0.04417,70.0,2.24,0.0,0.400,6.871,47.4,7.8278,5.0,358.0,14.8,390.86,6.07,24.8
350,0.06211,40.0,1.25,0.0,0.429,6.490,44.4,8.7921,1.0,335.0,19.7,396.90,5.98,22.9
400,25.04610,0.0,18.10,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77,5.6
450,6.71772,0.0,18.10,0.0,0.713,6.749,92.6,2.3236,24.0,666.0,20.2,0.32,17.44,13.4
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6.0,391.0,19.2,396.90,14.33,16.8

### 34. How to change column values when importing csv to a dataframe?

In [112]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[ForwardRef('PathLike[str]'), str, IO[~T], io.RawIOBase, io.BufferedIOBase, io.TextIOBase, _io.TextIOWrapper, mmap.mmap], sep=<object object at 0x0000021EBD6E5510>, delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: Union[Dict[str, Any], NoneType] = None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are ``None`` or 'high' for the ordinary converter,
        'legacy' for the original lower precision pandas converter, and
        'round_trip' for the round-trip converter.

        .. versionchanged:: 1.2

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc., if using a URL that will
        be parsed by ``fsspec``, e.g., starting "s3://", "gcs://". An error
        will be raised if providing this argument with a non-fsspec URL.
        See the fsspec and backend storage implementation docs for the set of
        allowed keys and values.

        .. versionadded:: 1.2

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [115]:
df = pd.read_csv('BostonHousing.csv', converters={'medv':lambda x: 'High' if float(x) > 25 else 'Low'})
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High

### 35. How to create a dataframe with rows as strides from a given series?

In [126]:
L = pd.Series(range(15))
n = 4
result = []
for i in range(0,int(L.shape[0]/n)+3):
    start = int((i*n) if i==0 else (i*n)/2)
    end = start + n
    result.append(np.array(L[start:end]))
result

[array([0, 1, 2, 3], dtype=int64),
 array([2, 3, 4, 5], dtype=int64),
 array([4, 5, 6, 7], dtype=int64),
 array([6, 7, 8, 9], dtype=int64),
 array([ 8,  9, 10, 11], dtype=int64),
 array([10, 11, 12, 13], dtype=int64)]

In [130]:
L.shape[0]//n

3

### 36. How to import only specified columns from a csv file?

In [132]:
df = pd.read_csv('BostonHousing.csv', usecols=['crim','medv'])
df.head()

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

### 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

In [135]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [136]:
df.shape

(93, 27)

In [138]:
df.describe()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,86.000000,91.000000,88.000000,84.000000,91.000000,91.000000,86.000000,90.000000,87.000000,85.000000,91.000000,89.000000,92.000000,87.000000,88.000000,89.000000,74.000000,86.000000
mean,17.118605,19.616484,21.459091,22.404762,29.065934,2.658242,144.000000,5276.666667,2355.000000,16.683529,5.076923,182.865169,103.956522,69.448276,38.954545,27.853933,13.986486,3104.593023
std,8.828290,9.724280,10.696563,5.841520,5.370293,1.045845,53.455204,605.554811,486.916616,3.375748,1.045953,14.792651,6.856317,3.778023,3.304157,3.018129,3.120824,600.129993
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.825000,12.350000,14.575000,18.000000,26.000000,1.800000,100.750000,4800.000000,2017.500000,14.500000,4.000000,174.000000,98.000000,67.000000,36.000000,26.000000,12.000000,2647.500000
50%,14.600000,17.700000,19.150000,21.000000,28.000000,2.300000,140.000000,5200.000000,2360.000000,16.500000,5.000000,181.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3085.000000
75%,20.250000,23.500000,24.825000,25.000000,31.000000,3.250000,170.000000,5787.500000,2565.000000,19.000000,6.000000,192.000000,110.000000,72.000000,42.000000,30.000000,16.000000,3567.500000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [146]:
df.dtypes

Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

In [147]:
df.values

array([['Acura', 'Integra', 'Small', ..., 2705.0, 'non-USA',
        'Acura Integra'],
       [nan, 'Legend', 'Midsize', ..., 3560.0, 'non-USA', 'Acura Legend'],
       ['Audi', '90', 'Compact', ..., 3375.0, 'non-USA', 'Audi 90'],
       ...,
       ['Volkswagen', 'Corrado', 'Sporty', ..., 2810.0, 'non-USA',
        'Volkswagen Corrado'],
       ['Volvo', '240', 'Compact', ..., 2985.0, 'non-USA', 'Volvo 240'],
       [nan, '850', 'Midsize', ..., 3245.0, 'non-USA', 'Volvo 850']],
      dtype=object)

In [148]:
df.values.tolist()

[['Acura',
  'Integra',
  'Small',
  12.9,
  15.9,
  18.8,
  25.0,
  31.0,
  'None',
  'Front',
  '4',
  1.8,
  140.0,
  6300.0,
  2890.0,
  'Yes',
  13.2,
  5.0,
  177.0,
  102.0,
  68.0,
  37.0,
  26.5,
  nan,
  2705.0,
  'non-USA',
  'Acura Integra'],
 [nan,
  'Legend',
  'Midsize',
  29.2,
  33.9,
  38.7,
  18.0,
  25.0,
  'Driver & Passenger',
  'Front',
  '6',
  3.2,
  200.0,
  5500.0,
  2335.0,
  'Yes',
  18.0,
  5.0,
  195.0,
  115.0,
  71.0,
  38.0,
  30.0,
  15.0,
  3560.0,
  'non-USA',
  'Acura Legend'],
 ['Audi',
  '90',
  'Compact',
  25.9,
  29.1,
  32.3,
  20.0,
  26.0,
  'Driver only',
  'Front',
  '6',
  2.8,
  172.0,
  5500.0,
  2280.0,
  'Yes',
  16.9,
  5.0,
  180.0,
  102.0,
  67.0,
  37.0,
  28.0,
  14.0,
  3375.0,
  'non-USA',
  'Audi 90'],
 ['Audi',
  '100',
  'Midsize',
  nan,
  37.7,
  44.6,
  19.0,
  26.0,
  'Driver & Passenger',
  nan,
  '6',
  nan,
  172.0,
  5500.0,
  2535.0,
  nan,
  21.1,
  6.0,
  193.0,
  106.0,
  nan,
  37.0,
  31.0,
  17.0,
  3405.0,
  'non-USA',
  'Audi 100'],
 ['BMW',
  '535i',
  'Midsize',
  nan,
  30.0,
  nan,
  22.0,
  30.0,
  nan,
  'Rear',
  '4',
  3.5,
  208.0,
  5700.0,
  2545.0,
  'Yes',
  21.1,
  4.0,
  186.0,
  109.0,
  69.0,
  39.0,
  27.0,
  13.0,
  3640.0,
  'non-USA',
  'BMW 535i'],
 ['Buick',
  'Century',
  'Midsize',
  14.2,
  15.7,
  17.3,
  22.0,
  31.0,
  'Driver only',
  nan,
  '4',
  2.2,
  110.0,
  5200.0,
  2565.0,
  'No',
  16.4,
  6.0,
  189.0,
  105.0,
  69.0,
  41.0,
  28.0,
  16.0,
  nan,
  'USA',
  'Buick Century'],
 ['Buick',
  'LeSabre',
  'Large',
  19.9,
  20.8,
  nan,
  19.0,
  28.0,
  'Driver only',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  nan,
  'No',
  nan,
  6.0,
  200.0,
  111.0,
  74.0,
  42.0,
  30.5,
  17.0,
  3470.0,
  'USA',
  'Buick LeSabre'],
 ['Buick',
  'Roadmaster',
  'Large',
  22.6,
  23.7,
  24.9,
  16.0,
  25.0,
  'Driver only',
  'Rear',
  '6',
  5.7,
  180.0,
  4000.0,
  1320.0,
  'No',
  23.0,
  6.0,
  216.0,
  116.0,
  78.0,
  45.0,
  30.5,
  21.0,
  4105.0,
  'USA',
  'Buick Roadmaster'],
 ['Buick',
  'Riviera',
  'Midsize',
  26.3,
  26.3,
  26.3,
  19.0,
  27.0,
  'Driver only',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1690.0,
  'No',
  18.8,
  5.0,
  198.0,
  108.0,
  nan,
  41.0,
  26.5,
  14.0,
  3495.0,
  'USA',
  'Buick Riviera'],
 ['Cadillac',
  'DeVille',
  'Large',
  33.0,
  34.7,
  36.3,
  16.0,
  25.0,
  'Driver only',
  'Front',
  '8',
  4.9,
  200.0,
  4100.0,
  nan,
  'No',
  18.0,
  6.0,
  206.0,
  114.0,
  73.0,
  43.0,
  35.0,
  18.0,
  3620.0,
  'USA',
  'Cadillac DeVille'],
 ['Cadillac',
  'Seville',
  'Midsize',
  37.5,
  40.1,
  42.7,
  16.0,
  25.0,
  'Driver & Passenger',
  'Front',
  '8',
  4.6,
  295.0,
  6000.0,
  1985.0,
  'No',
  20.0,
  5.0,
  204.0,
  111.0,
  74.0,
  44.0,
  31.0,
  nan,
  3935.0,
  'USA',
  'Cadillac Seville'],
 ['Chevrolet',
  'Cavalier',
  'Compact',
  8.5,
  13.4,
  18.3,
  25.0,
  36.0,
  nan,
  nan,
  '4',
  2.2,
  nan,
  5200.0,
  2380.0,
  'Yes',
  15.2,
  5.0,
  182.0,
  101.0,
  66.0,
  38.0,
  25.0,
  13.0,
  2490.0,
  'USA',
  'Chevrolet Cavalier'],
 ['Chevrolet',
  'Corsica',
  'Compact',
  11.4,
  11.4,
  11.4,
  25.0,
  34.0,
  'Driver only',
  'Front',
  nan,
  2.2,
  110.0,
  5200.0,
  2665.0,
  'Yes',
  15.6,
  5.0,
  184.0,
  103.0,
  68.0,
  39.0,
  26.0,
  nan,
  2785.0,
  'USA',
  'Chevrolet Corsica'],
 ['Chevrolet',
  'Camaro',
  'Sporty',
  13.4,
  15.1,
  16.8,
  19.0,
  28.0,
  'Driver & Passenger',
  'Rear',
  nan,
  3.4,
  160.0,
  4600.0,
  1805.0,
  'Yes',
  nan,
  4.0,
  193.0,
  101.0,
  74.0,
  43.0,
  25.0,
  13.0,
  3240.0,
  'USA',
  'Chevrolet Camaro'],
 ['Chevrolet',
  'Lumina',
  'Midsize',
  13.4,
  15.9,
  18.4,
  nan,
  29.0,
  'None',
  'Front',
  '4',
  2.2,
  nan,
  5200.0,
  2595.0,
  'No',
  16.5,
  6.0,
  nan,
  108.0,
  71.0,
  nan,
  28.5,
  16.0,
  3195.0,
  'USA',
  'Chevrolet Lumina'],
 ['Chevrolet',
  'Lumina_APV',
  'Van',
  14.7,
  16.3,
  18.0,
  18.0,
  23.0,
  'None',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1690.0,
  'No',
  20.0,
  7.0,
  178.0,
  110.0,
  74.0,
  44.0,
  30.5,
  nan,
  3715.0,
  'USA',
  'Chevrolet Lumina_APV'],
 ['Chevrolet',
  'Astro',
  'Van',
  14.7,
  16.6,
  18.6,
  15.0,
  20.0,
  'None',
  '4WD',
  '6',
  4.3,
  nan,
  4000.0,
  1790.0,
  'No',
  27.0,
  8.0,
  194.0,
  111.0,
  78.0,
  42.0,
  33.5,
  nan,
  4025.0,
  'USA',
  'Chevrolet Astro'],
 ['Chevrolet',
  'Caprice',
  'Large',
  18.0,
  18.8,
  19.6,
  17.0,
  26.0,
  'Driver only',
  'Rear',
  '8',
  5.0,
  170.0,
  4200.0,
  1350.0,
  'No',
  23.0,
  6.0,
  214.0,
  116.0,
  77.0,
  42.0,
  29.5,
  20.0,
  3910.0,
  'USA',
  'Chevrolet Caprice'],
 ['Chevrolet',
  'Corvette',
  'Sporty',
  34.6,
  38.0,
  41.5,
  17.0,
  25.0,
  'Driver only',
  'Rear',
  '8',
  5.7,
  300.0,
  5000.0,
  1450.0,
  'Yes',
  20.0,
  2.0,
  179.0,
  96.0,
  74.0,
  43.0,
  nan,
  nan,
  3380.0,
  nan,
  'Chevrolet Corvette'],
 [nan,
  'Concorde',
  'Large',
  18.4,
  18.4,
  18.4,
  20.0,
  28.0,
  'Driver & Passenger',
  'Front',
  '6',
  3.3,
  153.0,
  5300.0,
  1990.0,
  'No',
  18.0,
  6.0,
  203.0,
  113.0,
  74.0,
  nan,
  31.0,
  15.0,
  3515.0,
  'USA',
  'Chrylser Concorde'],
 ['Chrysler',
  'LeBaron',
  'Compact',
  14.5,
  15.8,
  17.1,
  23.0,
  28.0,
  'Driver & Passenger',
  'Front',
  '4',
  3.0,
  141.0,
  5000.0,
  2090.0,
  'No',
  16.0,
  6.0,
  183.0,
  104.0,
  68.0,
  41.0,
  30.5,
  14.0,
  3085.0,
  'USA',
  'Chrysler LeBaron'],
 ['Chrysler',
  'Imperial',
  'Large',
  29.5,
  29.5,
  29.5,
  20.0,
  26.0,
  'Driver only',
  'Front',
  '6',
  3.3,
  147.0,
  4800.0,
  1785.0,
  'No',
  16.0,
  6.0,
  203.0,
  110.0,
  69.0,
  44.0,
  36.0,
  17.0,
  3570.0,
  'USA',
  'Chrysler Imperial'],
 ['Dodge',
  'Colt',
  'Small',
  7.9,
  9.2,
  10.6,
  29.0,
  33.0,
  'None',
  'Front',
  '4',
  1.5,
  92.0,
  6000.0,
  3285.0,
  'Yes',
  nan,
  5.0,
  174.0,
  98.0,
  66.0,
  32.0,
  nan,
  11.0,
  2270.0,
  'USA',
  'Dodge Colt'],
 ['Dodge',
  'Shadow',
  'Small',
  8.4,
  11.3,
  14.2,
  23.0,
  29.0,
  'Driver only',
  'Front',
  '4',
  2.2,
  93.0,
  4800.0,
  nan,
  'Yes',
  14.0,
  5.0,
  172.0,
  97.0,
  67.0,
  38.0,
  26.5,
  nan,
  2670.0,
  'USA',
  'Dodge Shadow'],
 ['Dodge',
  'Spirit',
  'Compact',
  11.9,
  13.3,
  14.7,
  22.0,
  27.0,
  'Driver only',
  'Front',
  '4',
  2.5,
  100.0,
  4800.0,
  2535.0,
  'Yes',
  nan,
  6.0,
  181.0,
  104.0,
  68.0,
  39.0,
  30.5,
  nan,
  2970.0,
  'USA',
  'Dodge Spirit'],
 ['Dodge',
  'Caravan',
  'Van',
  nan,
  19.0,
  24.4,
  17.0,
  21.0,
  'Driver only',
  '4WD',
  '6',
  3.0,
  142.0,
  5000.0,
  1970.0,
  'No',
  20.0,
  7.0,
  175.0,
  112.0,
  72.0,
  42.0,
  26.5,
  nan,
  3705.0,
  'USA',
  'Dodge Caravan'],
 ['Dodge',
  'Dynasty',
  'Midsize',
  14.8,
  15.6,
  16.4,
  21.0,
  nan,
  'Driver only',
  'Front',
  nan,
  2.5,
  100.0,
  4800.0,
  2465.0,
  'No',
  16.0,
  6.0,
  192.0,
  105.0,
  69.0,
  42.0,
  30.5,
  16.0,
  3080.0,
  'USA',
  'Dodge Dynasty'],
 ['Dodge',
  'Stealth',
  'Sporty',
  18.5,
  25.8,
  33.1,
  nan,
  24.0,
  'Driver only',
  '4WD',
  '6',
  3.0,
  300.0,
  6000.0,
  2120.0,
  'Yes',
  19.8,
  4.0,
  180.0,
  97.0,
  nan,
  40.0,
  20.0,
  11.0,
  3805.0,
  'USA',
  'Dodge Stealth'],
 ['Eagle',
  'Summit',
  'Small',
  7.9,
  12.2,
  16.5,
  29.0,
  33.0,
  'None',
  'Front',
  '4',
  1.5,
  92.0,
  6000.0,
  2505.0,
  'Yes',
  13.2,
  5.0,
  174.0,
  98.0,
  66.0,
  36.0,
  26.5,
  11.0,
  2295.0,
  'USA',
  'Eagle Summit'],
 ['Eagle',
  'Vision',
  'Large',
  nan,
  19.3,
  21.2,
  20.0,
  28.0,
  'Driver & Passenger',
  'Front',
  '6',
  3.5,
  nan,
  5800.0,
  1980.0,
  'No',
  18.0,
  6.0,
  202.0,
  113.0,
  74.0,
  40.0,
  30.0,
  15.0,
  3490.0,
  'USA',
  'Eagle Vision'],
 ['Ford',
  'Festiva',
  'Small',
  6.9,
  7.4,
  7.9,
  31.0,
  33.0,
  nan,
  'Front',
  '4',
  1.3,
  63.0,
  5000.0,
  3150.0,
  'Yes',
  10.0,
  4.0,
  141.0,
  90.0,
  63.0,
  33.0,
  26.0,
  12.0,
  1845.0,
  'USA',
  'Ford Festiva'],
 ['Ford',
  'Escort',
  'Small',
  8.4,
  10.1,
  11.9,
  23.0,
  30.0,
  'None',
  'Front',
  '4',
  1.8,
  127.0,
  6500.0,
  2410.0,
  nan,
  13.2,
  5.0,
  171.0,
  98.0,
  67.0,
  36.0,
  28.0,
  12.0,
  2530.0,
  'USA',
  'Ford Escort'],
 ['Ford',
  'Tempo',
  'Compact',
  10.4,
  11.3,
  12.2,
  22.0,
  27.0,
  'None',
  'Front',
  '4',
  2.3,
  96.0,
  4200.0,
  2805.0,
  'Yes',
  15.9,
  5.0,
  177.0,
  100.0,
  68.0,
  nan,
  27.5,
  13.0,
  nan,
  'USA',
  nan],
 ['Ford',
  'Mustang',
  'Sporty',
  10.8,
  15.9,
  21.0,
  22.0,
  29.0,
  'Driver only',
  'Rear',
  '4',
  2.3,
  105.0,
  4600.0,
  2285.0,
  'Yes',
  15.4,
  4.0,
  180.0,
  101.0,
  68.0,
  40.0,
  24.0,
  12.0,
  nan,
  'USA',
  'Ford Mustang'],
 ['Ford',
  'Probe',
  'Sporty',
  12.8,
  14.0,
  15.2,
  nan,
  30.0,
  'Driver only',
  'Front',
  '4',
  2.0,
  115.0,
  5500.0,
  2340.0,
  'Yes',
  15.5,
  4.0,
  179.0,
  103.0,
  70.0,
  38.0,
  23.0,
  18.0,
  2710.0,
  'USA',
  'Ford Probe'],
 ['Ford',
  'Aerostar',
  'Van',
  14.5,
  19.9,
  25.3,
  15.0,
  20.0,
  'Driver only',
  '4WD',
  '6',
  3.0,
  145.0,
  4800.0,
  2080.0,
  'Yes',
  21.0,
  7.0,
  176.0,
  119.0,
  72.0,
  45.0,
  30.0,
  nan,
  3735.0,
  'USA',
  'Ford Aerostar'],
 ['Ford',
  'Taurus',
  'Midsize',
  15.6,
  20.2,
  24.8,
  21.0,
  30.0,
  'Driver only',
  'Front',
  '6',
  3.0,
  nan,
  4800.0,
  1885.0,
  'No',
  nan,
  5.0,
  192.0,
  106.0,
  71.0,
  40.0,
  27.5,
  18.0,
  3325.0,
  'USA',
  'Ford Taurus'],
 ['Ford',
  'Crown_Victoria',
  'Large',
  20.1,
  20.9,
  21.7,
  18.0,
  26.0,
  'Driver only',
  'Rear',
  '8',
  4.6,
  190.0,
  4200.0,
  nan,
  'No',
  20.0,
  6.0,
  212.0,
  114.0,
  78.0,
  43.0,
  30.0,
  21.0,
  3950.0,
  'USA',
  'Ford Crown_Victoria'],
 ['Geo',
  'Metro',
  'Small',
  6.7,
  8.4,
  10.0,
  46.0,
  50.0,
  'None',
  'Front',
  '3',
  1.0,
  55.0,
  5700.0,
  3755.0,
  nan,
  10.6,
  4.0,
  151.0,
  93.0,
  63.0,
  34.0,
  27.5,
  10.0,
  1695.0,
  'non-USA',
  'Geo Metro'],
 ['Geo',
  'Storm',
  'Sporty',
  11.5,
  12.5,
  13.5,
  30.0,
  36.0,
  'Driver only',
  'Front',
  '4',
  1.6,
  90.0,
  5400.0,
  3250.0,
  'Yes',
  12.4,
  4.0,
  164.0,
  97.0,
  nan,
  37.0,
  24.5,
  11.0,
  2475.0,
  'non-USA',
  'Geo Storm'],
 ['Honda',
  'Prelude',
  'Sporty',
  17.0,
  19.8,
  22.7,
  24.0,
  31.0,
  'Driver & Passenger',
  'Front',
  '4',
  2.3,
  160.0,
  5800.0,
  2855.0,
  'Yes',
  nan,
  4.0,
  175.0,
  100.0,
  70.0,
  39.0,
  23.5,
  8.0,
  2865.0,
  'non-USA',
  'Honda Prelude'],
 ['Honda',
  'Civic',
  'Small',
  8.4,
  12.1,
  15.8,
  42.0,
  46.0,
  'Driver only',
  'Front',
  '4',
  1.5,
  nan,
  5900.0,
  2650.0,
  'Yes',
  11.9,
  4.0,
  173.0,
  nan,
  67.0,
  36.0,
  28.0,
  12.0,
  nan,
  'non-USA',
  'Honda Civic'],
 ['Honda',
  'Accord',
  'Compact',
  13.8,
  17.5,
  21.2,
  24.0,
  31.0,
  'Driver & Passenger',
  'Front',
  '4',
  2.2,
  140.0,
  5600.0,
  nan,
  'Yes',
  17.0,
  4.0,
  185.0,
  107.0,
  67.0,
  41.0,
  28.0,
  14.0,
  3040.0,
  'non-USA',
  'Honda Accord'],
 ['Hyundai',
  'Excel',
  'Small',
  6.8,
  8.0,
  9.2,
  29.0,
  33.0,
  'None',
  'Front',
  '4',
  1.5,
  81.0,
  5500.0,
  2710.0,
  'Yes',
  11.9,
  5.0,
  168.0,
  94.0,
  63.0,
  35.0,
  26.0,
  11.0,
  2345.0,
  'non-USA',
  'Hyundai Excel'],
 ['Hyundai',
  'Elantra',
  'Small',
  9.0,
  10.0,
  11.0,
  nan,
  29.0,
  'None',
  'Front',
  '4',
  1.8,
  124.0,
  6000.0,
  2745.0,
  'Yes',
  13.7,
  5.0,
  172.0,
  98.0,
  66.0,
  36.0,
  28.0,
  12.0,
  2620.0,
  'non-USA',
  'Hyundai Elantra'],
 ['Hyundai',
  'Scoupe',
  nan,
  9.1,
  10.0,
  11.0,
  26.0,
  34.0,
  'None',
  'Front',
  '4',
  1.5,
  92.0,
  5550.0,
  2540.0,
  'Yes',
  11.9,
  4.0,
  166.0,
  94.0,
  64.0,
  34.0,
  23.5,
  9.0,
  2285.0,
  'non-USA',
  nan],
 ['Hyundai',
  'Sonata',
  'Midsize',
  12.4,
  13.9,
  15.3,
  20.0,
  27.0,
  'None',
  'Front',
  '4',
  2.0,
  128.0,
  6000.0,
  2335.0,
  'Yes',
  17.2,
  5.0,
  184.0,
  104.0,
  69.0,
  41.0,
  31.0,
  nan,
  2885.0,
  nan,
  'Hyundai Sonata'],
 ['Infiniti',
  'Q45',
  'Midsize',
  45.4,
  47.9,
  nan,
  17.0,
  22.0,
  nan,
  'Rear',
  '8',
  4.5,
  278.0,
  6000.0,
  1955.0,
  'No',
  22.5,
  5.0,
  200.0,
  113.0,
  72.0,
  42.0,
  29.0,
  15.0,
  4000.0,
  'non-USA',
  'Infiniti Q45'],
 ['Lexus',
  'ES300',
  'Midsize',
  27.5,
  28.0,
  28.4,
  18.0,
  24.0,
  'Driver only',
  'Front',
  '6',
  3.0,
  185.0,
  nan,
  2325.0,
  'Yes',
  18.5,
  5.0,
  188.0,
  103.0,
  70.0,
  40.0,
  27.5,
  14.0,
  3510.0,
  'non-USA',
  'Lexus ES300'],
 [nan,
  'SC300',
  'Midsize',
  34.7,
  35.2,
  35.6,
  18.0,
  23.0,
  'Driver & Passenger',
  'Rear',
  '6',
  3.0,
  225.0,
  6000.0,
  2510.0,
  'Yes',
  nan,
  4.0,
  191.0,
  106.0,
  71.0,
  39.0,
  25.0,
  9.0,
  3515.0,
  'non-USA',
  'Lexus SC300'],
 ['Lincoln',
  'Continental',
  'Midsize',
  33.3,
  34.3,
  35.3,
  17.0,
  26.0,
  'Driver & Passenger',
  nan,
  '6',
  3.8,
  160.0,
  4400.0,
  1835.0,
  'No',
  18.4,
  6.0,
  205.0,
  109.0,
  73.0,
  42.0,
  30.0,
  19.0,
  3695.0,
  'USA',
  'Lincoln Continental'],
 ['Lincoln',
  'Town_Car',
  'Large',
  34.4,
  36.1,
  37.8,
  18.0,
  26.0,
  'Driver & Passenger',
  'Rear',
  '8',
  4.6,
  210.0,
  4600.0,
  1840.0,
  'No',
  20.0,
  nan,
  219.0,
  117.0,
  77.0,
  45.0,
  31.5,
  22.0,
  4055.0,
  'USA',
  'Lincoln Town_Car'],
 ['Mazda',
  '323',
  'Small',
  7.4,
  8.3,
  9.1,
  29.0,
  37.0,
  'None',
  'Front',
  '4',
  1.6,
  82.0,
  5000.0,
  2370.0,
  'Yes',
  13.2,
  4.0,
  164.0,
  97.0,
  66.0,
  34.0,
  27.0,
  16.0,
  2325.0,
  'non-USA',
  'Mazda 323'],
 ['Mazda',
  'Protege',
  'Small',
  10.9,
  11.6,
  12.3,
  28.0,
  36.0,
  'None',
  'Front',
  '4',
  1.8,
  103.0,
  5500.0,
  2220.0,
  'Yes',
  14.5,
  5.0,
  172.0,
  98.0,
  66.0,
  36.0,
  26.5,
  13.0,
  2440.0,
  'non-USA',
  'Mazda Protege'],
 ['Mazda',
  '626',
  'Compact',
  14.3,
  16.5,
  18.7,
  26.0,
  34.0,
  'Driver only',
  'Front',
  '4',
  2.5,
  164.0,
  5600.0,
  2505.0,
  'Yes',
  15.5,
  5.0,
  184.0,
  103.0,
  69.0,
  40.0,
  29.5,
  14.0,
  2970.0,
  'non-USA',
  'Mazda 626'],
 ['Mazda',
  'MPV',
  'Van',
  16.6,
  19.1,
  21.7,
  18.0,
  24.0,
  'None',
  '4WD',
  '6',
  3.0,
  155.0,
  5000.0,
  2240.0,
  'No',
  19.6,
  7.0,
  190.0,
  110.0,
  72.0,
  39.0,
  27.5,
  nan,
  3735.0,
  'non-USA',
  'Mazda MPV'],
 ['Mazda',
  'RX-7',
  'Sporty',
  32.5,
  32.5,
  32.5,
  17.0,
  25.0,
  'Driver only',
  nan,
  'rotary',
  1.3,
  255.0,
  6500.0,
  2325.0,
  'Yes',
  20.0,
  2.0,
  169.0,
  96.0,
  69.0,
  nan,
  nan,
  nan,
  nan,
  'non-USA',
  'Mazda RX-7'],
 ['Mercedes-Benz',
  '190E',
  'Compact',
  29.0,
  31.9,
  34.9,
  nan,
  29.0,
  'Driver only',
  'Rear',
  '4',
  2.3,
  130.0,
  5100.0,
  2425.0,
  'Yes',
  14.5,
  5.0,
  175.0,
  105.0,
  67.0,
  34.0,
  26.0,
  12.0,
  2920.0,
  nan,
  'Mercedes-Benz 190E'],
 ['Mercedes-Benz',
  '300E',
  'Midsize',
  43.8,
  61.9,
  80.0,
  19.0,
  25.0,
  'Driver & Passenger',
  'Rear',
  '6',
  3.2,
  217.0,
  5500.0,
  2220.0,
  'No',
  18.5,
  5.0,
  nan,
  110.0,
  69.0,
  37.0,
  nan,
  15.0,
  3525.0,
  'non-USA',
  'Mercedes-Benz 300E'],
 ['Mercury',
  nan,
  'Sporty',
  13.3,
  14.1,
  15.0,
  23.0,
  26.0,
  'Driver only',
  'Front',
  '4',
  1.6,
  100.0,
  5750.0,
  2475.0,
  'Yes',
  11.1,
  4.0,
  166.0,
  95.0,
  65.0,
  36.0,
  19.0,
  6.0,
  2450.0,
  'USA',
  'Mercury Capri'],
 ['Mercury',
  'Cougar',
  'Midsize',
  14.9,
  14.9,
  14.9,
  19.0,
  26.0,
  'None',
  'Rear',
  '6',
  3.8,
  140.0,
  3800.0,
  1730.0,
  'No',
  18.0,
  5.0,
  199.0,
  113.0,
  73.0,
  38.0,
  28.0,
  15.0,
  3610.0,
  'USA',
  'Mercury Cougar'],
 ['Mitsubishi',
  'Mirage',
  'Small',
  7.7,
  10.3,
  12.9,
  29.0,
  nan,
  'None',
  'Front',
  '4',
  1.5,
  92.0,
  6000.0,
  2505.0,
  'Yes',
  13.2,
  5.0,
  172.0,
  98.0,
  67.0,
  36.0,
  26.0,
  11.0,
  2295.0,
  'non-USA',
  'Mitsubishi Mirage'],
 ['Mitsubishi',
  'Diamante',
  'Midsize',
  22.4,
  26.1,
  nan,
  18.0,
  24.0,
  'Driver only',
  'Front',
  '6',
  3.0,
  202.0,
  6000.0,
  2210.0,
  'No',
  19.0,
  5.0,
  190.0,
  107.0,
  70.0,
  43.0,
  27.5,
  14.0,
  3730.0,
  'non-USA',
  'Mitsubishi Diamante'],
 ['Nissan',
  'Sentra',
  'Small',
  8.7,
  11.8,
  14.9,
  29.0,
  33.0,
  'Driver only',
  'Front',
  nan,
  1.6,
  110.0,
  6000.0,
  2435.0,
  'Yes',
  13.2,
  5.0,
  170.0,
  96.0,
  66.0,
  33.0,
  26.0,
  nan,
  nan,
  'non-USA',
  'Nissan Sentra'],
 ['Nissan',
  'Altima',
  'Compact',
  13.0,
  15.7,
  18.3,
  24.0,
  30.0,
  'Driver only',
  'Front',
  '4',
  2.4,
  150.0,
  5600.0,
  2130.0,
  'Yes',
  15.9,
  5.0,
  181.0,
  103.0,
  67.0,
  40.0,
  28.5,
  14.0,
  3050.0,
  'non-USA',
  'Nissan Altima'],
 ['Nissan',
  'Quest',
  'Van',
  16.7,
  19.1,
  21.5,
  17.0,
  23.0,
  'None',
  'Front',
  '6',
  3.0,
  nan,
  4800.0,
  2065.0,
  'No',
  20.0,
  7.0,
  190.0,
  112.0,
  74.0,
  41.0,
  27.0,
  nan,
  4100.0,
  'non-USA',
  'Nissan Quest'],
 ['Nissan',
  'Maxima',
  'Midsize',
  21.0,
  21.5,
  22.0,
  21.0,
  26.0,
  'Driver only',
  'Front',
  '6',
  3.0,
  160.0,
  5200.0,
  2045.0,
  nan,
  18.5,
  5.0,
  188.0,
  104.0,
  69.0,
  41.0,
  28.5,
  14.0,
  3200.0,
  'non-USA',
  'Nissan Maxima'],
 ['Oldsmobile',
  'Achieva',
  'Compact',
  13.0,
  13.5,
  14.0,
  24.0,
  31.0,
  'None',
  'Front',
  '4',
  2.3,
  155.0,
  6000.0,
  2380.0,
  'No',
  15.2,
  5.0,
  188.0,
  103.0,
  67.0,
  39.0,
  28.0,
  14.0,
  2910.0,
  'USA',
  'Oldsmobile Achieva'],
 ['Oldsmobile',
  'Cutlass_Ciera',
  'Midsize',
  14.2,
  16.3,
  18.4,
  23.0,
  31.0,
  'Driver only',
  'Front',
  '4',
  2.2,
  110.0,
  5200.0,
  2565.0,
  'No',
  nan,
  5.0,
  190.0,
  105.0,
  70.0,
  42.0,
  28.0,
  16.0,
  2890.0,
  'USA',
  'Oldsmobile Cutlass_Ciera'],
 ['Oldsmobile',
  'Silhouette',
  'Van',
  19.5,
  19.5,
  19.5,
  18.0,
  23.0,
  'None',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1690.0,
  'No',
  20.0,
  7.0,
  nan,
  110.0,
  74.0,
  44.0,
  30.5,
  nan,
  3715.0,
  'USA',
  'Oldsmobile Silhouette'],
 ['Oldsmobile',
  'Eighty-Eight',
  'Large',
  19.5,
  20.7,
  21.9,
  nan,
  28.0,
  'Driver only',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1570.0,
  'No',
  18.0,
  6.0,
  201.0,
  111.0,
  74.0,
  42.0,
  31.5,
  17.0,
  3470.0,
  'USA',
  'Oldsmobile Eighty-Eight'],
 ['Plymouth',
  'Laser',
  'Sporty',
  11.4,
  14.4,
  17.4,
  nan,
  30.0,
  'None',
  '4WD',
  '4',
  1.8,
  92.0,
  5000.0,
  2360.0,
  'Yes',
  15.9,
  4.0,
  173.0,
  97.0,
  67.0,
  39.0,
  24.5,
  8.0,
  2640.0,
  nan,
  'Plymouth Laser'],
 ['Pontiac',
  'LeMans',
  'Small',
  nan,
  9.0,
  9.9,
  31.0,
  41.0,
  'None',
  'Front',
  '4',
  1.6,
  74.0,
  5600.0,
  3130.0,
  'Yes',
  13.2,
  4.0,
  177.0,
  99.0,
  66.0,
  35.0,
  25.5,
  17.0,
  2350.0,
  'USA',
  'Pontiac LeMans'],
 ['Pontiac',
  'Sunbird',
  'Compact',
  9.4,
  11.1,
  12.8,
  nan,
  31.0,
  'None',
  nan,
  '4',
  2.0,
  110.0,
  5200.0,
  2665.0,
  'Yes',
  15.2,
  5.0,
  181.0,
  101.0,
  66.0,
  39.0,
  25.0,
  13.0,
  nan,
  'USA',
  nan],
 ['Pontiac',
  'Firebird',
  nan,
  14.0,
  17.7,
  21.4,
  19.0,
  28.0,
  'Driver & Passenger',
  'Rear',
  '6',
  nan,
  160.0,
  4600.0,
  1805.0,
  'Yes',
  15.5,
  4.0,
  196.0,
  101.0,
  75.0,
  43.0,
  25.0,
  13.0,
  3240.0,
  'USA',
  'Pontiac Firebird'],
 ['Pontiac',
  'Grand_Prix',
  'Midsize',
  15.4,
  18.5,
  21.6,
  19.0,
  27.0,
  'None',
  'Front',
  '6',
  3.4,
  200.0,
  5000.0,
  1890.0,
  'Yes',
  16.5,
  5.0,
  195.0,
  108.0,
  72.0,
  41.0,
  28.5,
  16.0,
  3450.0,
  'USA',
  'Pontiac Grand_Prix'],
 ['Pontiac',
  'Bonneville',
  'Large',
  19.4,
  24.4,
  29.4,
  19.0,
  28.0,
  'Driver & Passenger',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1565.0,
  'No',
  18.0,
  6.0,
  177.0,
  111.0,
  74.0,
  43.0,
  30.5,
  18.0,
  3495.0,
  'USA',
  'Pontiac Bonneville'],
 ['Saab',
  '900',
  'Compact',
  20.3,
  28.7,
  37.1,
  20.0,
  26.0,
  nan,
  'Front',
  '4',
  2.1,
  140.0,
  6000.0,
  2910.0,
  'Yes',
  18.0,
  5.0,
  nan,
  99.0,

### 38. How to extract the row and column number of a particular cell with given criterion?

In [149]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [153]:
result = df[df['Price'] == df['Price'].max()]
result.index, list(result.columns).index('Price')

(Int64Index([58], dtype='int64'), 4)

In [154]:
row, col = np.where(df.values == np.max(df.Price))
row, col

(array([58], dtype=int64), array([4], dtype=int64))

In [155]:
df.at[row[0], 'Price']

61.9

### 39. How to rename a specific columns in a dataframe?

In [157]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [159]:
df = df.rename(%colors{'Type':'CarType'},axis=1)

In [160]:
df.head()

,Manufacturer,Model,CarType,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [161]:
df.columns = df.columns.str.replace('.','_')
df.head()

<ipython-input-161-88a1af3e170f>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.','_')

,Manufacturer,Model,CarType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

### 40. How to check if a dataframe has any missing values?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()